{% extends "base/base.html" %}
{% load static %}

{% block head %}
    <title>Doc</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.17.1/flowchart.min.js" integrity="sha512-emJotoOTtLFZ0H1ruR4v5pqW1mSen/JQCnjD4mcXwDT1sfZQmtqUDYv36X2S/iSun0kpgvvmBUWqpAupN104Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


{% endblock head %}
{% block contenido %}

    
{% endblock contenido %}
    